name: Enviroment variables
on:
  push
env:
  WF_ENV : Available to all jobs

jobs:
  log-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: Available to all steps in log-env.
    steps: 
      
      - name: Log env variables
        env : 
           STEP_ENV : Available to only this steps.
        run: |
           echo WF_ENV : "${WF_ENV}"
           echo JOB_ENV : "${JOB_ENV}"
           echo STEP_ENV : "${STEP_ENV}"
      - name: Log env
        run: |
         echo WF_ENV : "${WF_ENV}"
         echo JOB_ENV : "${JOB_ENV}"
         echo STEP_ENV : "${STEP_ENV}" 
  Job2:
    runs-on: ubuntu-latest
    steps: 
      - name: saurabh
        run: |
           echo "HOME : ${HOME}"
           echo GITHUB_WORKFLOW :"${GITHUB_WORKFLOW}"
           echo GITHUB_ACTIONS :"${GITHUB_ACTIONS}"
           echo GITHUB_REPOSITORY :"${GITHUB_REPOSITORY}"
           echo GITHUB_SHA :"${GITHUB_SHA}"
           echo GITHUB_BASE_REF :"${GITHUB_BASE_REF}"
           echo WF_ENV : "${WF_ENV}"
           echo JOB_ENV : "${JOB_ENV}"
           echo STEP_ENV : "${STEP_ENV}"       